* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Navbar  */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fffcef;
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  z-index: 10;
}

.navbar .logo {
  width: 10%;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 8em;
}

.sidebar ul a {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  color: #000;
  padding: 0.75em 2em;
  display: block;
}

.sidebar ul a:hover {
  background: #e9e9e9;
}

.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  background: #fffcef;
  height: 100vh;
  width: 25%;
  z-index: 2;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.sidebar-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social-link {
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 2rem;
}

.social-link a {
  font-family: "Montserrat", sans-serif;
  margin: 0 0 0 10px;
  text-decoration: none;
  color: #000;
}

.social-link .fa-github {
  font-size: 2rem;
}

.open-nav {
  transform: translateX(0%);
}

.fa-bars {
  font-size: 2rem;
  margin-right: 20px;
  cursor: pointer;
}

.fa-xmark {
  font-size: 3rem;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

/* Section - Hero */

.hero {
  height: 100vh;
  background-image: url("../images/CarSharing.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
  color: #fff;
}

.main h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 5rem;
  margin-bottom: 10px;
}

.main p {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  margin-top: 20px;
}

.fa-angle-down {
  font-size: 3rem;
  margin-top: 20px;
  animation: moveArrow 1s alternate-reverse infinite;
}

@keyframes moveArrow {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(-10px);
  }
}
/* Section - Visuals */

.visuals {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  margin-bottom: 5em;
}

.visual-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.visuals h1 {
  font-size: 2rem;
  font-weight: 400;
  text-decoration: underline;
}

.visuals h2 {
  font-size: 1.25rem;
  font-weight: 400;
}

.visuals h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 20px;
}

.visual-card {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
  box-shadow: -1px 6px 28px -11px rgba(0, 0, 0, 0.75);
}

.visual-card img {
  width: 600px;
  height: 360px;
  object-fit: contain;
}

.visuals .description {
  padding: 40px;
  max-width: 400px;
}
